language: julia
os:
  - linux
  - osx
julia:
  - 0.5
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("GaussianProcesses"); Pkg.test("GaussianProcesses"; coverage=true)'
